.container {
    width:95%;
    margin:0 auto;
}
.modal-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-transition: all 4s ease-out 0s;
    -moz-transition: all 4s ease-out 0s;
    -ms-transition: all 4s ease-out 0s;
    -o-transition: all 4s ease-out 0s;
    transition: all 4s ease-out 0s;
}

.modal-bg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-bg {
    padding: 2em;
}


.modal {
    position: relative;
    width: 100%;
    padding: 2em;
    background-color: white;
    z-index:50000;
    box-shadow: 0 0.25em 0.5em rgba(black, 0.25);

}

.modal--small {
    max-width: 32em;
}

.modal--medium {
    max-width: 48em;
}

.modal--large {
    max-width: 64em;
}

.modal--full {
    max-width: none;
}

.modal-close {
    position:absolute;
    right:15px;
    top:10px;
    color:#666666;
    cursor:pointer;
    font-weight:bold;
    font-size:18px;
    opacity: .5;
}
.modal-close:hover {
    opacity:1;
}
.modal-footer {
    height: 60px;
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

.modal-actions {
    float: right;
}




